<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Scrabble Solver</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
    </head>
    <body>
        <div class="app">
            <header>
                <h1>Scrabble Solver</h1>
            </header>
            <p>{{body}}</p>
        </div>
    </body>
</html>
